.nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: hsla(0,0%,100%,.9);
    border-bottom: 1px solid #e7e7e7;
    height: 6rem;
    z-index: 2000;
    &-head {
        font-size: 4.5rem;
        margin-left: 4rem;
        &:hover {
            cursor: pointer;
        }
    }
    &-subhead {
        font-size: 1.6rem;
        margin-right: 4rem;
        &-span {
            padding: 0 .5rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}