.stories {
    &-head {
        text-align: center;
        font-size: 3rem;
        margin-top: 2rem;
    }

    &-card {
        display: flex;
        padding: 2rem 0;
        border-bottom: 1px solid rgb(180, 178, 178);
        width: 80%;
        margin: 0 auto;

        &-name {
            font-size: 2.5rem;
            margin: 1rem;
        }
        &-image {
            border-radius: 50%;
            border: 1px solid black; 
        }
        &-text {
            font-size: 1.6rem;
            font-style: italic;
            margin: 1rem;

        }

    }
}